<header class="header">
    <div class="header_container">
        <div class="header_container__bars">
            <button type="button" class="btn btn-dark" [routerLink]="[ '/products' ]">
                <i class="uil uil-bars"></i>
            </button>
        </div>
        <div class="header_container__logo">
            <h1>MAKEUP</h1>
            <p>BE BRANDY BE TRENDY</p>
        </div>

        <div class="header_container__basket">
            <button type="button" class="btn btn-dark" [routerLink]="[ '/basket' ]">
                <i class="uil uil-shopping-basket"></i>
            </button>
        </div>
    </div>

</header>