.footer{
    width: 100%;
    background-color: rgb(228, 124, 214);
}
.footer_container{
    padding: 10px ;
    max-width: 1250px;
    width: 100%;
    min-height: 100px;
    margin: 0 auto;
    text-align: center;
}
